
/* 
References:
https://www.w3schools.com/html/html_layout.asp
https://stackoverflow.com/questions/28977320/how-do-i-get-the-bullet-points-of-a-ul-to-center-with-the-text
https://css-tricks.com/left-and-right/
*/
body {
  background-color: LightSlateGray;
}

section#main section.first{
    text-align: center;
    float:left;
    top: 10%;
    width: 50%;
}

section#main section.second{
    list-style-position: inside;
    margin-left: auto;
    float:right;
    padding-top: 10%;
    width:50%;
}

section#main section.third{
    list-style-position: inside;
    padding-top: 42.5%;
    text-align: center;
}
